---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import InfoSection from "../components/InfoSection.astro";
import LabSection from "../components/LabSection.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Vibe Stick - Aire Puro">
	<main>
		<Hero />
		<InfoSection />
		<LabSection />
	</main>
	<Footer />
</Layout>
