---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import InfoSection from "../components/InfoSection.astro";
import LabSection from "../components/LabSection.astro";
import ExitSection from "../components/ExitSection.astro";
import TechSection from "../components/TechSection.astro";
import MissionSection from "../components/MissionSection.astro";
import Join from "../components/joinsection.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Vibe Stick - Aire Puro">
	<main>
		<Hero />
		<InfoSection />
		<LabSection />
		<ExitSection />
		<TechSection />
		<MissionSection />
		<Join/>
	</main>
	<Footer />
</Layout>
