---

---

<section
    id="hero"
    class="relative w-full h-screen flex flex-col items-center justify-center overflow-hidden"
>
    <!-- 3D Scene Container (Fixed Background) -->
    <div
        id="canvas-container"
        class="fixed inset-0 z-0 w-full h-full pointer-events-none"
    >
    </div>
</section>

<script>
    import { initStickerScene } from "../scripts/sticker-scene";

    // Initialize 3D Scene logic
    initStickerScene("canvas-container");
</script>
